@model EmployeesManagement.Domain.Entities.Employee

@{
    ViewBag.Title = "Create";
}

<h4>Create Employee</h4>

@using(Html.BeginForm("Create", "Employees", FormMethod.Post, new { @class = ""})) {
    @Html.EditorForModel()
    <input type="submit" value="Create" />
    @Html.ActionLink("Back to List", "Index", "Employees")
}
