@model EmployeesManagement.Domain.Entities.Employee

@{
    ViewBag.Title = "Edit Employee";
}

<h4>Edit @Model.Name</h4>

@using(Html.BeginForm("Edit", "Employees", FormMethod.Post, new { @class = ""})) {
    @Html.EditorForModel()
    <input type="submit" value="Update" />
    @Html.ActionLink("Back to List", "Index", "Employees")
}